//Color System
$black: #000000 !default;
$white: #FFFFFF !default;
$dark: #333333 !default;
$light: #757575 !default;
$light-gray: #F2F2F2 !default;
$primary-color-1:#8BAC3E !default;
$primary-color-2:#40A2B1 !default;
$primary-color-3:#405EB6 !default;
$primary-color-4:#B23F74 !default;
$primary-color-5:#A4B441 !default;
$secondary-color-1:#F0FEEB !default;
$secondary-color-2:#E6F3F5 !default;
$secondary-color-3:#EAEEFA !default;
$secondary-color-4:#F9EEF3 !default;
$secondary-color-5:#F3F7D9 !default;


